<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cholesterol Test</title>
</head>
<body>
    <h1>Cholesterol Test</h1>
    <form method="POST">
        <label for="gender">Gender:</label>
        <select name="gender" id="gender">
            <option value="M">Male</option>
            <option value="F">Female</option>
        </select><br><br>
        
        <label for="total_cholesterol">Total Cholesterol (mg/dL):</label>
        <input type="number" name="total_cholesterol" id="total_cholesterol"><br><br>
        
        <label for="triglycerides">Triglycerides (mg/dL):</label>
        <input type="number" name="triglycerides" id="triglycerides"><br><br>
        
        <label for="hdl_cholesterol">HDL Cholesterol (mg/dL):</label>
        <input type="number" name="hdl_cholesterol" id="hdl_cholesterol"><br><br>
        
        <label for="ldl_cholesterol">LDL Cholesterol (mg/dL):</label>
        <input type="number" name="ldl_cholesterol" id="ldl_cholesterol"><br><br>
        
        <label for="vldl_cholesterol">VLDL Cholesterol (mg/dL):</label>
        <input type="number" name="vldl_cholesterol" id="vldl_cholesterol"><br><br>
        
        <label for="non_hdl_cholesterol">Non-HDL Cholesterol (mg/dL):</label>
        <input type="number" name="non_hdl_cholesterol" id="non_hdl_cholesterol"><br><br>
        
        <button type="submit">Submit</button>
    </form>
</body>
</html>
